---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=rails
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="eGrQgyN05I2zQaiDTPsz35GhR", oauth_nonce="55ec165895c4b85f21cad0155ef0fa55",
        oauth_signature="N%2BH%2FQlbPCsJIoHjmLLotrLDX85c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1651693172", oauth_token="1445083519236124674-VoeKzR68dHHfRMeHDl7eASPT9SV70a",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 04 May 2022 19:39:33 GMT
      X-Transaction:
      - 455dd177525ecb05
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1651694073'
      Content-Disposition:
      - attachment; filename=json.json
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Reset:
      - '1651744754'
      X-Rate-Limit-Remaining:
      - '899'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-App-Rate-Limit-Remaining:
      - '99982'
      X-Response-Time:
      - '396'
      X-Connection-Hash:
      - 2a56dd1d0c5e4db38b4dfe0818646f2dbbc0753844e38009640cb74aa0be2508
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon May 02 20:34:52 +0000 2022","id":1521226738503716865,"id_str":"1521226738503716865","text":"RT
        @drnic: Episode 2 is live! In a normal Rails app we have forms, we have save
        buttons, and finish work early. But as we recreate Notion,\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"drnic","name":"Dr
        Nic","id":9885102,"id_str":"9885102","indices":[3,9]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3116191,"id_str":"3116191","name":"Ruby
        on Rails","screen_name":"rails","location":"","description":"Compress the
        complexity of modern web apps. Ruby on Rails scales from HELLO WORLD to IPO.","url":"https:\/\/t.co\/DIVVFHJ75c","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/DIVVFHJ75c","expanded_url":"http:\/\/rubyonrails.org","display_url":"rubyonrails.org","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":139328,"friends_count":31,"listed_count":3642,"created_at":"Sun
        Apr 01 10:20:11 +0000 2007","favourites_count":25,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":875,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EBEBEB","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme7\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme7\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/691206086955790336\/CDMbA57p_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/691206086955790336\/CDMbA57p_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3116191\/1639609915","profile_link_color":"990000","profile_sidebar_border_color":"DFDFDF","profile_sidebar_fill_color":"F3F3F3","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        May 02 20:06:29 +0000 2022","id":1521219596107530240,"id_str":"1521219596107530240","text":"Episode
        2 is live! In a normal Rails app we have forms, we have save buttons, and
        finish work early. But as we recr\u2026 https:\/\/t.co\/jz6h4se5qb","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/jz6h4se5qb","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1521219596107530240","display_url":"twitt[...]
